.one{
    font-size: 200px;
    text-align: center;
    background-origin: padding-box;
    background-color: ;
    padding: 60px;

}
.two{
    background-image: /;
}
.three{
    background-color:black;
    background-image: url("sha2.jpg");

background-position: center;
background-attachment: auto;
background-size: 3000px;
background-repeat: no-repeat;
text-align: center;
color:azure;
font-size: 50px;
font-style:italic;
}
table,th,td{
    border-style:line;
    box-sizing:border-box;
    border-color:black;
    width: 60%;
    height: 30%;
    border-width:3px;


}